* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  text-align: justify;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  border: none;
}

.scrollup /* dopracowac */
{
	width: 64px;
	height: 64px;
	text-decoration: none;
	background: url("images/scroll.png") no-repeat 0px 0px;
	position: fixed;
	right: 50px;
	bottom: 50px;
	display: none;
}

.header {
  max-width: 100%;
  /* margin: 0 auto; */
  /* border: 2px solid black; */
}

.navbar {
  padding: 5px 0;
  /* border: 2px solid green; */
  position: fixed;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #ffffff;
}

.navbar:hover {
  opacity: 1;
}

.menu {
  padding: 20px 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.menu-item {
  text-transform: uppercase;
  font-size: 20px;
}

.menu-link {
  color: #000000;
  transition: 0.2s;
}

.menu-link:hover {
  color: red;
}

.film {
  width: 80%;
  height: 700px;
  display: block;
  margin: 80px auto 0 auto;
  /* border: 2px solid grey; */
}

.header-image {
  width: 80%;
  display: block;
  margin: 0 auto;
  /* border: 2px solid yellow; */
}

.main {
  width: 80%;
  /* border: 2px solid black; */
  margin: 0 auto;
}

.headline {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 48px;
  margin: 50px auto;
  padding: 20px 0;
}

.members, .members2 {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 2px solid grey; */
}

.members {
  margin-bottom: 250px;
}

.members2 {
  margin-bottom: 200px;
}

.image {
  width: 200px;
  height: 200px;
  opacity: 0.7;
  transition: 0.5s;
}

.image:hover { /* do dopracowania */
  opacity: 1;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 210px;
  height: 210px;
}

.photo {
  width: 200px;
  height: 200px;
  position: relative;
  /* border: 2px solid green; */
}

.photo .description {
  opacity: 0;
  transition: 1s;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 200px;
  left: -100px;
  z-index: 2;
  /* border: 2px solid yellow; */
}

.photo:hover .description { /* ?! */
  opacity: 1;
}

.name {
  font-weight: bold;
  font-size: 18px;
  /* border: 2px solid red; */
}

.mini-image {
  width: 100px;
  height: 100px;
  opacity: 0.7;
  transition: 0.5s;
  border-radius: 100%;
}

.mini-image:hover {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 110px;
  height: 110px;
}

.mini-photo {
  width: 100px;
  height: 100px;
  position: relative;
  /* border: 2px solid green; */
}

.mini-photo .mini-descrip {
  opacity: 0;
  transition: 1s;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: -100px;
  z-index: 2;
  /* border: 2px solid yellow; */
}

.mini-photo:hover .mini-descrip { /* ?! */
  opacity: 1;
}

.offers {
  /* border: 2px black solid; */
}

.offer {
  /* border: 2px red solid; */
  margin: 0 50px;
}

.offer-text {
  font-size: 26px;
  width: 55%;
  /* border: 2px solid green; */
  float: left;
  height: 300px;
}

.offer-head {
  font-size: 32px;
  font-weight: 700;
}

.offer-image {
  width: 40%;
  height: 300px;
  /* border: 2px solid yellow; */
  float: right;
}

.cooperation {
  clear: both;
}

.co-op-text {
  width: 100%;
  font-size: 26px;
}

.co-op-image {
  width: 100%;
  height: 700px;
}

.cont {
  position: relative;
  display: flex;
  /* border: 2px red solid; */
}

.image-letterbox {
  width: 30%;
  height: 30%;
}

.image-envelope {
  width: 15%;
  height: 15%;
  position: absolute;
  top: 170px;
  left: 170px;
  opacity: 0;
  transition: 3s;
}

.image-envelope:hover {
  opacity: 1;
  left: 500px;
}

.text-contact { /* nid poprawki... */
  margin: 100px auto 0 auto;
  opacity: 1;
}

.footer {
  background: #f0f0f0;
  padding: 40px;
  margin-top: 100px;
  /* border: 2px yellow solid; */
}

.socials {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  /* border: 2px red solid; */
}

.social-icon {
  width: 100px;
  height: 100px;
}
